<template name="home">
<!--
    <div class="content">
      <svg version="1.1" id="bigGear" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 width="300px" height="300px"  xml:space="preserve">

    <path id="rueda" class="st0" d="M256.901,154.592c0.064-1.523,0.104-3.053,0.104-4.592c0-1.539-0.04-3.068-0.104-4.591L242.44,143.8
    	c-0.186-2.812-0.495-5.59-0.925-8.329l13.747-4.789c-0.553-3.03-1.236-6.013-2.038-8.948l-14.46,1.65
    	c-0.806-2.693-1.729-5.334-2.769-7.917l12.334-7.726c-1.213-2.82-2.543-5.577-3.986-8.265l-13.732,4.827
    	c-1.385-2.436-2.877-4.801-4.469-7.092l10.303-10.274c-1.807-2.475-3.715-4.871-5.725-7.178l-12.312,7.76
    	c-1.885-2.063-3.862-4.04-5.925-5.924l7.76-12.312c-2.307-2.009-4.703-3.917-7.177-5.725L202.793,73.86
    	c-2.291-1.591-4.656-3.083-7.092-4.468l4.827-13.733c-2.688-1.443-5.446-2.773-8.266-3.986l-7.726,12.334
    	c-2.584-1.038-5.225-1.962-7.918-2.769l1.65-14.46c-2.936-0.802-5.918-1.485-8.948-2.038l-4.789,13.748
    	c-2.739-0.432-5.517-0.74-8.329-0.926l-1.609-14.461c-1.523-0.064-3.053-0.104-4.591-0.104c-1.539,0-3.068,0.04-4.591,0.104
    	l-1.609,14.461c-2.812,0.186-5.59,0.494-8.329,0.926l-4.789-13.748c-3.03,0.552-6.013,1.236-8.948,2.038l1.65,14.46
    	c-2.693,0.806-5.334,1.73-7.917,2.769l-7.726-12.334c-2.82,1.213-5.577,2.544-8.265,3.986l4.827,13.733
    	c-2.436,1.384-4.801,2.876-7.092,4.468L86.938,63.557c-2.474,1.808-4.87,3.716-7.177,5.725l7.76,12.312
    	c-2.063,1.885-4.04,3.862-5.924,5.924l-12.312-7.76c-2.009,2.307-3.917,4.703-5.725,7.177l10.303,10.274
    	c-1.591,2.292-3.084,4.657-4.468,7.092l-13.733-4.827c-1.443,2.688-2.773,5.445-3.986,8.265l12.334,7.726
    	c-1.038,2.583-1.962,5.225-2.769,7.917l-14.46-1.65c-0.802,2.935-1.485,5.918-2.038,8.948l13.748,4.789
    	c-0.432,2.739-0.74,5.517-0.926,8.329l-14.461,1.609C43.04,146.932,43,148.461,43,150c0,1.539,0.04,3.068,0.104,4.592l14.461,1.608
    	c0.186,2.813,0.494,5.591,0.926,8.329l-13.748,4.789c0.553,3.029,1.236,6.013,2.038,8.947l14.46-1.649
    	c0.806,2.692,1.73,5.334,2.769,7.917l-12.334,7.727c1.213,2.82,2.544,5.576,3.986,8.265l13.733-4.826
    	c1.384,2.435,2.876,4.8,4.468,7.093L63.56,213.065c1.808,2.474,3.716,4.87,5.725,7.177l12.312-7.76
    	c1.885,2.063,3.862,4.039,5.925,5.924l-7.76,12.312c2.307,2.009,4.703,3.918,7.177,5.726l10.274-10.304
    	c2.292,1.592,4.657,3.084,7.092,4.468l-4.827,13.733c2.688,1.443,5.445,2.773,8.265,3.986l7.726-12.334
    	c2.583,1.038,5.225,1.962,7.917,2.769l-1.65,14.46c2.935,0.802,5.918,1.485,8.948,2.038l4.789-13.748
    	c2.738,0.432,5.517,0.74,8.329,0.926l1.609,14.461c1.523,0.064,3.052,0.104,4.591,0.104c1.538,0,3.067-0.04,4.591-0.104
    	l1.609-14.461c2.813-0.186,5.59-0.494,8.328-0.926l4.79,13.748c3.029-0.553,6.013-1.236,8.948-2.038l-1.65-14.46
    	c2.693-0.807,5.334-1.73,7.918-2.769l7.726,12.334c2.819-1.213,5.577-2.543,8.265-3.986l-4.826-13.733
    	c2.436-1.384,4.801-2.876,7.092-4.468l10.274,10.304c2.474-1.808,4.87-3.717,7.177-5.726l-7.76-12.312
    	c2.063-1.885,4.04-3.861,5.925-5.924l12.312,7.76c2.01-2.307,3.917-4.703,5.725-7.178l-10.303-10.273
    	c1.592-2.293,3.084-4.658,4.469-7.093l13.732,4.826c1.443-2.688,2.773-5.444,3.986-8.265l-12.334-7.727
    	c1.039-2.583,1.963-5.225,2.769-7.917l14.46,1.649c0.802-2.935,1.485-5.918,2.038-8.947l-13.748-4.789
    	c0.431-2.738,0.74-5.517,0.926-8.329L256.901,154.592z M150.003,234.167c-46.484,0-84.167-37.683-84.167-84.167
    	c0-46.484,37.683-84.167,84.167-84.167c46.483,0,84.167,37.683,84.167,84.167C234.17,196.484,196.486,234.167,150.003,234.167z"/>
    <path id="dientes" class="st0" d="M150.003,112.003c-20.985,0-37.997,17.012-37.997,37.997s17.012,37.997,37.997,37.997
    	S188,170.985,188,150S170.988,112.003,150.003,112.003z M150.003,177.798c-15.353,0-27.798-12.445-27.798-27.798
    	s12.445-27.798,27.798-27.798s27.798,12.445,27.798,27.798S165.355,177.798,150.003,177.798z"/>
    </svg>

    </div> -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active">
            <div class=""btn btn-outline-inverse btn-lg">Great Content</div></li>
          <li data-target="#myCarousel" data-slide-to="1"><div class=""btn btn-outline-inverse btn-lg">Great location</div></li>
          <li data-target="#myCarousel" data-slide-to="2"><div class=""btn btn-outline-inverse btn-lg">Great People</div></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="fill" style="background-image:url('images/portada.jpg');"></div>
            <div class="carousel-caption">
              <h1>Learn from the best</h1>

            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('/images/possesio.jpg');"></div>
            <div class="carousel-caption">
              <h1>Mallorca the place to Workshops.</h1>
              
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
              <h1>Our team is awesome</h1>

            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
        </a>
    </div>

    <div class="section presentation">

      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-4 item">
            <h3>Our Idea</h3>
            <p>We believe that Mallorca is the perfect place for people to get together and learn in the best environment possible</p>
          </div>
          <div class="col-lg-4 col-md-4 item">
            <h3>Our Team</h3>
            <p>Our team consits of the best of the best </p>
          </div>
          <div class="col-lg-4 col-md-4 item">
            <h3>Our Objectives</h3>
            <p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->

    <div class="section-colored text-center">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h2>Organizing International Quality Workshops in Mallorca</h2>
            <p>Offering very high quality workshops in one of the most advantageous places in Europe</p>
            <hr>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

    <div class="section">

      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Upcoming Workshops</h2>
            <hr>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->

    <div class="section-colored">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h2>Each Workshop works on this basis:</h2>
            <ul>
              <li>A 1 - 5 day course</li>
              <li>Mobile Responsive Design</li>
              <li>Predefined File Paths</li>
              <li>Working PHP Contact Page</li>
              <li>Minimal Custom CSS Styles</li>
              <li>Unstyled: Add Your Own Style and Content!</li>
              <li>Font-Awesome fonts come pre-installed!</li>
              <li>100% <strong>Free</strong> to Use</li>
              <li>Open Source: Use for any project, private or commercial!</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

    <div class="section">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="img-responsive" src="http://placehold.it/700x450">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h2>Modern Business Features Include:</h2>
            <ul>
              <li>Bootstrap 3 Framework</li>
              <li>Mobile Responsive Design</li>
              <li>Predefined File Paths</li>
              <li>Working PHP Contact Page</li>
              <li>Minimal Custom CSS Styles</li>
              <li>Unstyled: Add Your Own Style and Content!</li>
              <li>Font-Awesome fonts come pre-installed!</li>
              <li>100% <strong>Free</strong> to Use</li>
              <li>Open Source: Use for any project, private or commercial!</li>
            </ul>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->

    <div class="container">

      <div class="row well">
        <div class="col-lg-8 col-md-8">
          <h4>Sign up to get more be part of our community!</h4>
          <p>You can propose ideas of workshops, vote and decide of who you want to bring to the island.</p>
        </div>
        <div class="col-lg-4 col-md-4">
          <a class="btn btn-lg btn-primary pull-right" href="/sign-up">Sign Up</a>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->

</template>